<header class="site-header">
    <div class="top-row">
        <div class="logo">
            <img src="/assets/images/logo.png">
        </div>
        <div class="page-title">
            <p>Root Panel</p>
        </div>
        <div class="user-name">
            <p>
                {{userName[0]}}
            </p>
        </div>
    </div>
    <div class="main-menu">
        <div class="ct-row">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Accounts
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a>Add Accounts</a></li>
                    <li><a>View Accounts</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Workforce
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a>Add Workforce</a></li>
                    <li><a>View Workforce</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">System Configs
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a>Add System Configs</a></li>
                    <li><a>View System Configs</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Locals
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a>Add Locals</a></li>
                    <li><a>View Locals</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Wage Determinations
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a>Add Wage Determinations</a></li>
                    <li><a>View Wage Determinations</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Events
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a>Add Event</a></li>
                    <li><a>View Event</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Security
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a>Add Security</a></li>
                    <li><a>View Security</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>